<html>
    <head>
        <meta charset="utf-8" />
        <title>App</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="h-screen w-full flex flex-col items-center">
        <a href="/">
            <img src="/images/MeowGram.png" class="max-w-sm mx-auto" />
        </a>
        <iframe
            src="https://giphy.com/embed/H4DjXQXamtTiIuCcRU"
            width="480"
            height="470"
            frameborder="0"
            class="giphy-embed py-14"
            allowfullscreen
        ></iframe>

        <div class="flex gap-4 w-96">
            <a
                href="/auth/register"
                class="text-center w-1/2 px-8 py-3 font-semibold rounded bg-blue-600 dark:text-gray-50"
                >S'inscrire</a
            >
            <a
                href="/auth/login"
                class="text-center w-1/2 px-8 py-3 font-semibold rounded bg-blue-600 dark:text-gray-50"
                >Se connecter</a
            >
        </div>
    </body>
</html>
